@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700");
body {
  font-family: "Roboto Slab", "Roboto Slab", Helvetica, Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Roboto Slab", "Roboto Slab", Helvetica, Arial, sans-serif;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 10px;
  margin-bottom: 5px;
}
.tooltip {
  font-family: "Roboto Slab", "Roboto Slab", Helvetica, Arial, sans-serif;
}
.header-image{
  width:100%;
  height:80px;
  background-image: url('https://c1.staticflickr.com/1/399/18963844186_772f14169e_h.jpg');
  background-position: center 20%;
  opacity: 0.25;
}
.btn-info{
    background-color: #54a89f;
    border-color: #54a89f;
}
.alert-info{
    background-color: #34d8b9;
    border-color: #34d8b9;
}

table a:not(.btn).btn-sm, .table a:not(.btn).btn-sm {
    text-decoration: none;
}

.form-button {
    line-height: initial; 
    border: none; 
    padding-left: 9px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 9px;
}

.form-just-with-button {
    display: inline;
}
.disabled {
    background-color: #eeeeee;
    color: #dddddd;
}

p {
    max-width: 800px;
}
